
generated.*
tmp/

# Ansible

/ansible/roles/contrib/*
/ansible/collections/*

!/ansible/roles/contrib/.gitkeep
!/ansible/collections/.gitkeep

/ansible/inventory/*.yml
/ansible/inventory/*.ini
ansible.cfg

*.retry

# Misc

.DS_Store

*.sublime-project
*.sublime-workspace
